* {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}

main {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
}

.box {
    width: 100px;
    height: 100px;
    background-color: #BF360C;
    color: #FFF;
    font-size: 3rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
}

main div:last-of-type {
    margin-right: 0;
}

/* TODO: define the following animations and
   apply them to the respective box when the
   user hovers the mouse over the box

Box 1: 2D spin
Box 2: fade out
Box 3: drop out (drop to bottom of viewport while fading out)
Box 4: explode (scale up while fading out)
Box 5: shake (move side-to-side like shaking head no)
Box 6: 3D flip
*/
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes pulse {
    from, to {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes explode {
    to {
        transform: scale(5);
        opacity: 0;
    }
}
@keyframes dropOut {
    to {
        opacity: 0;
        transform: translateY(50vh);
    }
}
@keyframes shake {
    from, to {
        transform: translateX(0);
    }
    10%,30%,50%,70%,90% {
        transform: translateX(-10px);
    }
    20%,40%,60%,80% {
        transform: translateX(10px);
    }
}
@keyframes flip {
    from {
        transform: rotate3d(0,1,0,0deg);
    }
    to {
        transform: rotate3d(0,1,0,180deg);
    }
}
.box:nth-of-type(1):hover {
    animation: pulse 1s;
}
.box:nth-of-type(2):hover {
    animation: fadeOut 500ms;
}
.box:nth-of-type(3):hover {
    animation: explode 500ms;
}
.box:nth-of-type(4):hover {
    animation: dropOut 500ms;
}
.box:nth-of-type(5):hover {
    animation: shake 500ms;
}
.box:nth-of-type(6):hover {
    animation: flip 500ms;
}