/* 
    index.css
    Stylesheet for the index.html page
*/

/* tell the browser to include padding and borders in size calculations */
* {
    box-sizing: border-box;
}
/* set body font */
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* no margins on headers */
h1, h2, h3 {
    margin: 0;
}
/* add some padding to header, main, and nav elements */
header, main, nav {
    padding: 1rem;
}
/* set background color of header and make it a flexbox */
header {
    background-color: #0D47A1;
    color: #FFF;
    display: flex;
}
/* set height and fill of svg menu icon */
header svg {
    height: 2rem;
    fill: currentColor;
}
/* make h1 grow to consume rest of flex container width */
header h1 {
    padding-left: 1rem;
    flex: 1;
}

/* TODO: make the <nav> element into a slide-out drawer */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    z-index: 1;
    background-color: #fff;
    transform: translateX(-300px);
}

nav,
.content {
    transition: transform 500ms;
}

.drawer-open nav {
    transform: translateX(0);
}

.drawer-open .content {
    transform: translateX(300px);
}

main {
    position: relative;
}

main:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    transition: opacity 500ms;
}
.drawer-open main:after {
    opacity: 1;
}
