body {
    font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
}

header {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0)), url(../img/header.jpg);
    background-size: cover;
    background-position: center;
    min-height: 400px;
    color: #FFF;
}

header h1 {
    margin-top: 0;
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 1120px;
    margin: 0 auto;
}